body {
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
}

form {
    max-width: 600px;
    margin: 0 auto;
}

h2 {
    background-color: #f2f2f2;
    padding: 10px;
    margin-top: 20px;
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="tel"] {
    /* width: 100%; */
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#resume-section {
    max-width: 600px;
    margin: 0 auto;
    text-align: left;
}

#resume {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    background-color: #f2f2f2;
}

#back-to-form {
    background-color: #dc3545;
    margin-top: 20px;
}

#back-to-form:hover {
    background-color: #bb2d3b;
}
.education-entry,
.work-entry,
.skill-entry {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
}

/* Style for the "Remove" buttons */
.remove-entry {
    background-color: #ff0000;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-left: 5px;
}

/* Style for the "Add" buttons */
#add-education,
#add-work,
#add-skill {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    margin-top: 10px;
}
input{
    width:90%;
}